<? xml version = " 1.0 " ?>
< configuração >
< sistema .webServer>
< reescrever >
< regras >
< rule  name = " React Routes "  stopProcessing = " true " >
< corresponder  url = " .* " />
< condições  logicalGrouping = " MatchAll " >
< add  input = " {REQUEST_FILENAME} "  matchType = " IsFile "  negate = " true " />
< add  input = " {REQUEST_FILENAME} "  matchType = " IsDirectory "  negate = " true " />
< add  input = " {REQUEST_URI} "  pattern = " ^/(api) "  negate = " true " />
</ condições >
< tipo de ação  = " Reescrever " url = " / " /> 
</ regra >
</ regras >
</ reescrever >
</ system .webServer>
</ configuração >