.input-number {
  display: flex;
}

.input-number input {
  color: black;
  width: 38%;
}

#input-file {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

#input-file input[type="file"] {
  display: none;
}

#label-file {
  width: 200px;
  background-color: #333;
  border: 1px solid #333;
  color: white;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  text-align: center;
  padding: 10px 5px;
  transition: 0.5s;
}
#label-file:hover {
  color: #333;
  background-color: white;
}
.input-categoria {
  display: flex;
  width: 75%;
}

.input-categoria input {
  color: black;
  width: 34%;
}
#description {
  height: 200px;
}
#form-create {
  display: flex;
  width: 100%;
  margin-top: 0;

  flex-direction: column;
}

#form-create #submit {
  margin-left: 1%;
}

.create-products h1 {
  color: white !important;
  margin: 20px;
  margin-top: 0;
}
#form-create #description {
  width: 70%;
  height: 150px;
}

.create-products {
  margin-left: 20%;
  margin-top: 50px;
  width: 100%;
}
.background-create {
}

.create-products input {
  color: white;
}
.background-create {
  background: black;
}
#btn-plus-file-image {
  width: 100px;
  padding: 10px 5px;
  height: 44px;
  background-color: green;
  margin-left: 10px;
}
#file-style {
  margin: 5px;
  margin-left: 10px;
}
#inline-input {
  flex-wrap: wrap;
  display: flex;
}
